// #company_page::before, #company_page::after {
//     display: inline-block;
//     content: " ";
//     height: 5px;
//     width: 5px;
//     background-color: red;
// }

.img {
    transition: filter 0.1s ease-in-out, transform 0.2s ease-in-out;
    filter: grayscale(1);
    width: 150px;
}
.img:hover {
    filter: grayscale(0);
    transform: scale(1.03);
}

.splitter {
    width: 275px;
    height: 2px;
    background-color: gray;
}
.companies {
    height: 20vh;
}