#aboutmain {
    background: rgb(15, 22, 108);
    background: linear-gradient(
        59deg,
        rgba(15, 22, 108, 1) 7%,
        rgba(34, 57, 152, 1) 40%,
        rgba(25, 151, 234, 1) 74%,
        rgba(51, 221, 255, 1) 100%
    );
    text-shadow: -5px 5px 5px rgba(50, 50, 50, 0.4);
    overflow: hidden;
    height: 80vh;
}
#underline {
    transform: translateX(-500px);
    visibility: hidden;
    animation: 1s slide-right 2s forwards;
}

@keyframes slide-right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;

        transform: translateX(0);
        visibility: visible;
        // z-index: -1;
        overflow: visible;
    }
}

#software_container,
#esnaj_container {
    display: inline-block;
}

// #software_container, #esnaj_container {
//     height: 100px;
// }

#webapp {
    background-image: linear-gradient(pink, pink);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    animation: 1s underline 2s forwards;
}

@keyframes underline {
    from {
        background-size: 0% 5px;
    }
    to {
        background-size: 100% 5px;
    }
}

.text_container {
    display: inline-block;
    z-index: 31;
    margin-top: 1px;
    position: relative;
    overflow-x: clip;
    vertical-align: bottom;
    animation: 1s text_container 2.48s forwards;
}
@keyframes text_container {
    from {
        overflow-x: clip;
    }
    100% {
        overflow-x: visible;
    }
}

#oftware,
#snaj {
    // display: inline-block;
    padding: 0;
    position: relative;
    transform: translateX(-100%);
    visibility: hidden;
    animation: 1s slide-right 2s forwards;
}
#e,
#s {
    display: inline-block;
    position: relative;
    z-index: 32;
    margin-top: 0px;
}

#software_container {
    animation: 1s s-anim 0.75s forwards;
    transform: translateX(-105px);
}

@keyframes s-anim {
    to {
        transform: translateX(30px);
    }
}

@keyframes slide-right-s {
    to {
        opacity: 1;
        transform: translateX(100px);
        visibility: visible;
        overflow-x: visible;
    }
}
