:root {
    --shadow-color: rgba(100, 100, 100, 0.7);
    --anim-time: 0.25s;
}

.project-image {
    transition: transform var(--anim-time) ease-in-out, box-shadow var(--anim-time) ease-in-out;
    height: 250px;
    width: auto;
    margin: 0 0;
    box-shadow: 10px 10px 10px 0px var(--shadow-color);
}

.project-image:hover {
    transform: scale(1.02) translate(-2px, -2px);
    box-shadow: 15px 15px 15px 0px var(--shadow-color);
}

.line-split {
    height: 1px;
    width: 30%;
    transition: width var(--anim-time) ease-in-out;
}

.project:hover .line-split {
    width: 60%;
}
