$btn_width: calc(100% + 20px);
.service_button {
    width: $btn_width;
}
.service_button_content {
    background-image: linear-gradient(white, white);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 250ms ease;
    animation: service_button_animation 400ms forwards;
}
@keyframes service_button_animation {
    0% {
        background-size: 0% 1px;
    }
    100% {
        background-size: 100% 1px;
    }
    /* 100% {
      opacity: 1;
      /* background: red; */
}



.slick-track {
    display: flex;
}
.slick-track .slick-slide {
    display: flex;
    height: auto;
}

.bullet::before {
    height: 2px;
    width: 6px;
    position: relative;
    top: 10px;
    // margin-bottom: 3px;
    // margin-right: 15px;
    content: " ";
    background-color: rgba(219, 39, 119, 0.5);
    display: block;
    float: left;
}
.bullet_text {
    padding-left: 20px;
}

// .service_entry::before, .service_entry::after {
//     height:40px;
//     width: 40px;
//     background-color: red;
//     content: '';
//     z-index: 10;
// }
