#aboutmain {
    background: rgb(15, 22, 108);
    background: linear-gradient(
        59deg,
        rgba(15, 22, 108, 1) 7%,
        rgba(34, 57, 152, 1) 40%,
        rgba(25, 151, 234, 1) 74%,
        rgba(51, 221, 255, 1) 100%
    );
    text-shadow: -5px 5px 5px rgba(50, 50, 50, 0.2);
    overflow: visible;
}

@keyframes slide-right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;

        transform: translateX(0);
        visibility: visible;
        // z-index: -1;
        overflow: visible;
    }
}

#software_container,
#esnaj_container {
    display: inline-block;
}

// #software_container, #esnaj_container {
//     height: 100px;
// }

.text_container {
    display: inline-block;
    margin-top: 1px;
    overflow-x: clip;
}
#oftware,
#snaj {
    // display: inline-block;
    padding: 0;
    position: relative;
    top: 8px;
    // vertical-align: bottom;
    transform: translateX(-100%);
    visibility: hidden;
    animation: 1s slide-right 2.5s forwards;
}
#e, #s {
    display: inline-block;
    margin-top: 0px;
}

#software_container {
    animation: 1s s-anim 1.5s forwards;
    transform: translateX(-105px);
}

@keyframes s-anim {
    to {
        transform: translateX(30px);
    }
}

@keyframes slide-right-s {
    to {
        opacity: 1;
        transform: translateX(100px);
        visibility: visible;
        overflow-x: visible;
    }
}
